<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- NORMALIZE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CRM</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        <input type="email" placeholder="E-mail" name = "email">
        <br>
        <input type="password" placeholder="Password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
     <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
</body>
</html>