<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="{% url 'register' %}" method="POST">{% csrf_token %}
        <input type="text" placeholder="Username" name = "username">
        <br>
        <input type="email" placeholder="E-mail" name = "email">
        <br>
        <input type="password" placeholder="Password" name="password">
        <br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="login.html">login</a>
</body>
</html>