<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - CRManager</title>
    <style>
        .flex {
            display: flex;
        }
        .justify-between {
            justify-content: space-between;
            padding: 0 15px;
        }
        .flex p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <button><a href="{% url 'crmanager:home' %}">Home</a></button>
    <button><a href="{% url 'crmanager:leads' %}">Leads</a></button>
    <button><a href="{% url 'client:add_client' %}">Novo Cliente</a></button>
    
    <h1>Lista de Clientes</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <div class="flex justify-between">
        <p>Nome:</p>
    </div>

    {% for client in clients %}
        <div class="flex justify-between">
            <p>
                <a href="{%url 'client:clients_detail' client.id%}">{{ client.name }}</a>
            </p>
        </div>
    {% empty %}
        <p style="padding: 15px; text-align: center;">Nenhum cliente encontrado.</p>
    {% endfor %}
</body>
</html>